<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.example.app.paging.PagingRepository">

    <select id="findUser" resultType="web.example.app.domain.entity.PagingEntity">
        SELECT email, name
        FROM user
        WHERE 1=1
        <if test="keyword == 'name'">
            AND name LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'email'">
            AND email LIKE CONCAT('%',#{search},'%')
        </if>
    </select>
</mapper>